.l3 {
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s;
}

.show {
  visibility: visible;
  opacity: 1;
}

.l2 {
  position: fixed;
  left: 0;
  top: 0;
}

.l1 {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  overflow: hidden;
  transform: scale(.75);
  transition: transform .15s;
}

.scale {
  transform: scale(1);
}

.lensImg {
  transform-origin: top left;
}